<h>Edit Page..!</h><br/>
<form action="/edit-record" method="POST">
    <input type="text" value="<%= data[0].id%>" name="id"/><br/>
    <input type="text" value="<%= data[0].Name%>" name="name"/><br/>
    <input type="submit" value="Submit"/><br/>
</form>