
<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="style.css">
</head>
<body>

    <h5>View</h5><br/>
        <table id="table_1" border="1">
            <tr>
                <th>SNo</th>
                <th>Name</th>
                <th>Actions</th>
            </tr>
            <% if(data.length>0){ %>
            <% for( var i=0; i<data.length; i++){ %>
                <tr>
                    <td><%= data[i].id %></td>
                    <td><%= data[i].Name %></td>
                    <td>
                        <a href="edit-record?id=<%= data[i].id %>">Edit</a>&nbsp;
                        <a href="delete-record?id=<%= data[i].id %>">Delete</a>
                    </td>
                </tr>
                <% } %>
                <% }else{ %>
                    <h> No data found</h>
                    <% } %>
        </table>

</body>
</html>